config.stopBubbling=true
# 解决子类警告：Generating equals/hashCode implementation but without a call to superclass
lombok.equalsAndHashCode.callSuper=call
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += com.sz.ferry.annotation.GZKLHttpClientSpecifier
